h1{
	width:1320px;
	height:20px;
	top:50px;
	text-align:center;
	font-size : 100px;
	background-color: lime;
}


tr{
	text-align:center;
}

td{
	align:left;
	width:1280px;
	height:100px;
	text-align : center;
}


body {
	background-color: aqua;
	}


#map_canvas{
	text-align : center;
}

.text{
	position:fixed; top:0;left:250px

}

.IMG{
	position:fixed; top:0;left:100px
}

div{
	width:1200px;

	background-color: red;
}

.NARUHODO{
	position:fixed; top:0;left:300px
}