h1{
	width:1320px;
	height:20px;
	top:50px;
	text-align:center;
	font-size : 100px;
	background-color: lime;
}


tr{
	text-align:center;
}

td{
	align:left;
	width:1280px;
	height:100px;
	text-align : center;
}

IMG{
	height:150px;
}


body {
	background-color: aqua;
	}


#map_canvas{
	text-align : center;
}

.text{
	position:absolute; top:0;left:250px

}

.IMG{
	position:absolute; top:0;left:100px
}

tabale div{
	width:1200px;
	height:150;
	position:relative;top:0;
	background-color: red;
}

.NARUHODO{
	position:fixed; top:0;left:300px
}

.TENKA{
	position:fixed; top:100;left:300px
}
.MIDORI{
	position:fixed; top:150;left:300px
}