h1{
	width:1320px;
	height:20px;
	top:50px;
	text-align:center;
	font-size : 100px;
	background-color: lime;
}

div{
	text-align: center;
	position:relative;  left:200px;
}

tr{
	text-align:center;
}

td{
	align:left;
	width:1280px;
	height:100px;
	text-align : center;
}

p{
	position:relative; top:10px; left:150px;

}


body {
	background-color: aqua;
	}

IMG{
	top:10px;
	left:100px;
}

div id = "map_canvas"{
	text-align : center;
}